/* ============================
   Resume Preview container
=============================== */

.resume-preview-container {
  border: 1px solid #e5e7eb;  /* border-gray-200 */
  width: 8.5in;
  min-height: auto;
}

/* print/page setup */
@page {
  size: letter;
  margin: 0;
}

@media print {
  html,
  body {
    width: 8.5in;
    height: 11.8in;
    overflow: hidden;
  }

  body * {
    visibility: hidden;
  }

  #resume-preview,
  #resume-preview * {
    visibility: visible;
  }

  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
  }
}


/* ==================================
   Resume Form container
===================================== */

.resume-form-wrapper {
  min-width: 400px;
  max-width: 1000px; /* ✅ here's your max-width */
  padding: 20px;
  border: 1px solid #e5e7eb;
}
